@font-face {
    font-family: Apparel;
    src: url(fonts/apparel-regular.otf);
}
@font-face {
    font-family: Apparel;
    src: url(fonts/apparel-regularit.otf);
    font-style: italic;
}
@font-face {
    font-family: Apparel;
    src: url(fonts/apparel-black.otf);
    font-weight: bolder;
}
@font-face {
    font-family: Apparel;
    src: url(fonts/apparel-blackit.otf);
    font-weight: bolder;
}

@font-face {
    font-family: Fimlen;
    src: url(fonts/fimlen.otf);
}

html {
    background-color: #358178;
    color: white;
}

h1 {
    font-family: Fimlen, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

h2, p {
    font-family: Apparel, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}